html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 10px;
    /*padding-top: 25px;*/
}

/* #region Navbar styles */
.navbar-header {
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.navbar-brand {
    font-size: 2rem;
    font-weight: lighter;
}
/* #endregion */


/* #region Footer styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.85em;
}
/* #endregion */

/* #region custom Kendo UI styles */


h1 a {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-weight: lighter;
}

.placeholder img {
    display: inline-block;
}

p .k-button {
    margin: 0 15px 0 0;
}

#configure {
    display: none;
}

p .k-button {
    margin: 0 15px 0 0;
}

.k-state-active .label {
    font-size: 1em;
}

#responsive-panel {
    padding: 0;
    width: 100%;
}

    #responsive-panel .k-menu {
        padding: .5rem;
    }
/* #endregion */

@media (max-width: 767px) {
    #responsive-panel {
        transition: all linear .2s;
    }

    #configure {
        display: block;
        float: right;
    }

    .k-rpanel {
        padding: 0 1rem;
    }

    .k-rpanel-expanded {
        padding: .5rem 1rem;
    }

    .navbar-header {
        width: 100%;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .k-menu .k-item,
    .k-menu .k-link {
        width: 100%;
    }

    .k-widget.k-menu-horizontal > .k-item {
        border: none;
    }

    .k-menu .k-link {
        box-sizing: border-box;
    }
}

html {
    font-size: 12px;
}

.txtcolor {
    color: white;
    font-size: 14px;
}

/*#region navigation bar and menu */

nav {
    margin-bottom: 0px !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #00ACC8;
    color: white;
    /*height: 30px;*/
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.navbar-nav > li > a {
    padding: 9px;
}

.body-content {
    padding-left: 1%;
}

.gridDisplayStyle {
    display: inline-block !important;
}

.ratingmessage {
    width: 40% !important;
    font-size: 10px !important;
    margin-top: 10px !important;
    margin-left: 1% !important;
    float: left !important;
}

.greenColor {
    color: green !important;
}

@media only screen and (min-width: 768px) {
    .navbar {
        background-color: #00245D;
        font-size: 14px;
        color: white;
        border: 0px;
        border-radius: 0px;
        /*height: 30px;*/
        min-height: 30px;
    }
}

@media only screen and (min-width: 1382px) {
    .navbar {
        background-color: #00245D;
        font-size: 14px;
        color: white;
        border: 0px;
        border-radius: 0px;
        /*height: 30px;*/
        min-height: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar {
        background-color: #00245D;
        font-size: 14px;
        color: white;
        border: 0px;
        border-radius: 0px;
        /*height: 30px;*/
        min-height: 30px;
    }
}

.header-title {
    font-size: 25px;
    color: #062f54;
}

@media only screen and (max-width:320px) {
    .header-title {
        font-size: 21px;
        color: #062f54;
    }
}

.dropdown-menu > li > a {
    color: #062f54;
}

.header-logo {
    height: 60px !important;
    width: 80px !important;
    margin-left: 2% !important;
    margin-right: 3px !important;
    margin-bottom: 3px !important;
    cursor: pointer !important;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-toggle {
    padding: 4px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.Menu {
    background-color: #00ACC8;
    color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #062f54;
}

#userDdlMenu {
    margin-top: 9px;
    margin-right: 2px;
}
/*#endregion */

/*#region Dashboard Tiles Styles */
.Moderate {
    color: white;
    background-color: gold;
    border-color: gold; /*#c5c512;*/
    opacity: 0.7;
}

    .Moderate:focus {
        color: white;
        background-color: gold;
        border-color: darkgoldenrod; /*#c5c512;*/
        opacity: 0.7;
    }

    .Moderate:hover {
        color: white;
        background-color: gold;
        border-color: gold;
        opacity: 1;
    }

.Notmeasured {
    color: white;
    background-color: gray;
    border-color: gray;
    opacity: 0.7;
}

    .Notmeasured:focus {
        color: white;
        background-color: gray;
        border-color: dimgray;
        opacity: 0.7;
    }

    .Notmeasured:hover {
        color: white;
        background-color: gray;
        border-color: gray;
        opacity: 1;
    }

.NotMonitored {
    color: white;
    background-color: purple;
    border-color: purple;
    opacity: 0.7;
}

    .NotMonitored:focus {
        color: white;
        background-color: purple;
        border-color: indigo;
        opacity: 0.7;
    }

    .NotMonitored:hover {
        color: white;
        background-color: purple;
        border-color: purple;
        opacity: 1;
    }

.NewOilSample {
    color: white;
    background-color: #2671b3;
    border-color: #2671b3;
    opacity: 0.9;
}

    .NewOilSample:focus {
        color: white;
        background-color: #2671b3;
        border-color: #2671b3;
        opacity: 0.9;
    }

    .NewOilSample:hover {
        color: white;
        background-color: #2671b3;
        border-color: #2671b3;
        opacity: 1;
    }

/*.total {
        color: white;
        background-color: springgreen;
        border-color: springgreen;
        opacity: 0.7;
    }
        .total:hover {
            color: white;
            background-color: springgreen;
            border-color: springgreen;
            opacity: 1;
        }*/

.Moderate > .badge {
    color: gold;
    background-color: white;
}

.Notmeasured > .badge {
    color: gray;
    background-color: white;
}

.NotMonitored > .badge {
    color: purple;
    background-color: white;
}
/*.total > .badge {
        color: springgreen;
        background-color: white;
    }*/


.notmonitored-row {
    background-color: #f2eaf3;
}

    .notmonitored-row:hover {
        background-color: #f1e0f3 !important;
    }

.k-alt.notmonitored-row {
    background-color: #eee6ef !important;
}

    .k-alt.notmonitored-row:hover {
        background-color: #f1e0f3 !important;
    }

/* #endregion */


.grid-overflow {
    overflow: auto;
}

/* #region gliter button  */
.linkbutton-glittercolor {
    background-color: #004A7F;
    -webkit-border-radius: 1px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    text-emphasis-color: none;
    font-size: 12px;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;    
}
.linkbutton-glittercolor:hover, .linkbutton-glittercolor:focus {
    color: darkblue !important;
    text-decoration: none !important;
}

    @-webkit-keyframes glowing {
        0% {
        background-color: powderblue;
        -webkit-box-shadow: 0 0 3px powderblue;
    }

    50% {
        background-color: dodgerblue;
        -webkit-box-shadow: 0 0 20px dodgerblue;
    }

    100% {
        background-color: powderblue;
        -webkit-box-shadow: 0 0 3px powderblue;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: powderblue;
        -moz-box-shadow: 0 0 3px powderblue;
    }

    50% {
        background-color: dodgerblue;
        -moz-box-shadow: 0 0 20px dodgerblue;
    }

    100% {
        background-color: powderblue;
        -moz-box-shadow: 0 0 3px powderblue;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: powderblue;
        box-shadow: 0 0 3px powderblue;
    }

    50% {
        background-color: dodgerblue;
        box-shadow: 0 0 20px dodgerblue;
    }

    100% {
        background-color: powderblue;
        box-shadow: 0 0 3px powderblue;
    }
}

@keyframes glowing {
    0% {
        background-color: powderblue;
        box-shadow: 0 0 3px powderblue;
    }

    50% {
        background-color: dodgerblue;
        box-shadow: 0 0 20px dodgerblue;
    }

    100% {
        background-color: powderblue;
        box-shadow: 0 0 3px powderblue;
    }
}
/* #endregion */

/* #region Site grid tooltip for change the background color and pointer color  */
.k-tooltip {
    color: #000000;
    background-color: #ccc;    
}

.k-callout {
    color: #ccc;
}

.k-tooltip:not(.k-tooltip-closable) {
    font-size: 11.5px;
}
/* #endregion*/

/* #region Severity coloring for Grid */
.text-severity {
    font-size: 15px;
}
/* #endregion*/
/* #region Grid Edit TextBox  */
.k-grid-edit-row > td > .text-box {
    width: 100% !important;
}
/* #endregion*/

/*Error message color for asset validation*/
.errorMessage {
    color: red;   
}
.k-notification {
    min-width: 25em !important;
    min-height: 1em !important;
    font-size: 13px !important;
    text-align: center !important;
    vertical-align: central !important;   
}

.tooltip-inner {
    background-color: #ccc;
    color: #000000;
}

.tooltip-arrow {
    border-top-color: #ccc !important;
}

.linkstyle {
    color: #337ab7 !important;
    text-decoration: underline !important;
    cursor: pointer;
}


* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('/images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.footerWrap {
    width: 100%;
    position: relative;
    bottom: 0px;
}

.footer {    
    margin: auto;
}

.footerContent {
    float: left;
    width: 100%;
    background-color: gainsboro;
    padding: 20px 0;
}

.footer p {
    float: left;
    width: 100%;
    text-align: center;
}